@font-face {
  font-family: 'myriad';
  src: url(file:///Users/danielopatich1/dev/_class/week1/thursday/fonts/myriad.otf);
}

* {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
}

header {
  max-width: 100%;
  max-height: 100%;
}

.head {
  display: block;
  background-image: url(file:///Users/danielopatich1/dev/_class/week1/thursday/sass/styles/assets/header.jpg);
  // background-size: cover;
  background-repeat: no-repeat;
  padding:10px;
  margin: 0 auto -50px;
  overflow: auto;
  height: 524px;
}

.head nav, a {
  font-family: 'Oswald';
  text-decoration: none;
  color: #0B3550;
  font-size: 20px;
}

.head nav {
  display: block;
  float: right;
  padding: 13px 0 0 0;
  text-decoration: none;
}

.head a {
  padding: 0 20px 0 0;
}

.top {
  display: block;
  padding: 0 0 0 100px;
  margin: 0 0 0 0;
}
.blogStamp a {
  font-family: 'Myriad';
  font-size: 18px;
  color: #0B3550;
  text-decoration: none;
  padding: 0 0 0 20px;
}

.blogStamp img {
  float: left;
}


h1.surf {
  font-family: 'Myriad';
  font-size: 80px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  background-size: auto;
  padding:0;
  margin: 0 auto;
}

header.head h1 {
  text-decoration: none;
  color: #fff;
  text-align: center;
  background-size: auto;
  padding:100px 0 10px;
  margin: 10px 0 0;
}

header.head h2 {
  text-decoration: none;
  color: #092C42;
  text-align: center;
  background-size: auto;
  margin: 10px 0 0;
  font-family: 'Myriad';
  font-size: 16px;

}

#content {
  background: #fff;
  padding: 5px 40px 105px 40px;
  margin: 0 auto;
  overflow: visible;
  height: 825px;
}

.headline {
  float: left;
  background: white;
  padding: 25px 25px 45px 20px;
  margin: 0px 0 0px 100px;
  width: 500px;
  height: 50%;
  color: #5E686F;
  font-family: 'Myriad';
}

.headline h1  {
  font-family: 'Oswald';
  font-size: 41px;
  text-align: left;
  color: #0B3551;
  margin: 0;
}

.highlightComment {
  font-family: 'Oswald';
  color: #196FB1;
  background: white;
  padding: 20px 50px 25px 50px;
  border-left: solid thin;
  border-color: #DFE0DF;
}

.comments img {
  background-color: #5E686F;
}

.comments {
  text-decoration: none;
  display: block;
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  background: #A3B3BE;

}

.comments a,
.read a,{
  font-family: 'Myriad';
  font-size: 15px;
  background: #A3B3BE;
  text-decoration: none;
  color: #fff;
}

.share a {
  font-family: 'Myriad';
  font-size: 15px;
  background: #196FB1;
  text-decoration: none;
  color: #fff;
}

.read {
  display: block;
  margin: 0 20px 0 0;
  float: left;
  background: #A3B3BE;
  text-decoration: none;
}


.share {
  display: block;
  float: left;
  background: #0B3551;
  text-decoration: none;
}

.sideBar {
  float: right;
  padding: 25px 25px 45px 20px;
  margin: 0px 0 0px 100px;
  width: 30%;
  height: 200px;
}

.sideBar h1 {
  font-family: 'Oswald';
  font-size: 17px;
  color: #196FB1;
  margin: 30px 0 0 0;
}

.sideBar p {
  font-family: 'Myriad';
  font-size: 14px;
  color: #97A6B0;
}

.profile {

}

.profile img {
  display: block;
  padding: 20px 0 0 14px;
  margin: 0 0 0 85px;
}

.profile a  {
  font-family: 'Oswald';
  font-size: 17px;
  color: #196FB1;
  margin: 0px 0 0 100px;
  text-decoration: none;
  text-align: center;
}

.socialLinks a {
  padding: 0 0 0 0;
  margin: 0 0 0 35.55px;
  display: block;
  float: left;
  font-family: 'Myriad';
  font-size: 14px;
  color: #97A6B0;
}

.advertisement img {
  padding: 30px 0 0 0;
}

.advertisement {
  font-family: 'Myriad';
  font-size: 10px;
  color: #97A6B0;
}

.breakbox {
  background: white;
  padding: 20px 50px 25px 50px;
  border-top: solid thin;
  border-color: #DFE0DF;
}

.breakbox p {
  font-family: 'Oswald';
  font-size: 37px;
  color: #0B3551;
  font-size: 40px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.extraPosts {
  background: dodgerBlue;
  overflow: hidden;
  height: 300px;
}

.otherCool {
  display: block;
  float: left;
  width: 24.99%;
}


.anotherCool {
  display: block;
  float: left;
  width: 24.99%;
}


.longCool {
  display: block;
  float: left;
  width: 24.99%;
}


.ohCool {
  display: block;
  float: left;
  width: 24.99%;
}

.foot {
  background: #344051;
  margin: 0 auto;
  overflow: hidden;
}

.foot {
  height: 90px;
}

.ironYardLogo {
  float: left;
  padding: 0 0 0 100px;
  margin: 0 0 0 0;
}

.ironYardLogo a {
  display: block;
  font-family: 'Myriad';
  color: #A3B3BE;
  padding: 0 0 0 60px;
  margin: -25px 0 0 0;
}

.foot nav {
  display: block;
  float: right;
  padding: 13px 0 0 0;
  text-decoration: none;
}

.clickItems a {
  font-family: 'Myriad';
  color: #A3B3BE;
  text-decoration: none;
  border-left: solid thin;
}
